:root {
    --white: #ffffff; 
     --black: #181819;
     --grey: #9999A0;
     --light-grey: #E8EAEF;
}


* {
    box-sizing: border-box;
}


html, body,ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--black);
    background: var(--white);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}


#app {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, .15);
    background: var(--white);
}

.header-top {
    width: 100%;
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.space-b {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.social .social-icon {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.social .social-icon:first-child {
    margin-left: 0;
}

.social .social-icon:last-child {
    margin-right: 0;
}

.social .social-icon img {
width: auto;
height: 100%;
object-fit: cover;
object-position: center;
}


.logo {
    width: 160px;
}

.logo a {
    display: block;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


.lang ul {
    list-style-type: none;
}


.lang ul li {
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 10px;
}

.lang ul li:first-child {
    margin-left: 0;
}

.lang ul li:last-child {
    margin-right: 0;
}

.lang ul li a {
    color: var(--grey);
    transition: .3s;
}

.lang ul li a:hover {
    color: var(--black);
}


.bottom-header {
    width: 100%;
    padding: 22px 0;
    border-top: 1px solid var(--light-grey);
}


.bottom-header .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu .menu-item {
    position: relative;
    padding: 0 61px;
}

.menu .menu-item:first-child {
    padding-left: 0;
}

.menu .menu-item:last-child {
    padding-right: 0;
}

.menu .menu-item::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: var(--black);
    top: 50%;
    right: 0;
    border-radius: 50%;
    transform: translate(-50);
}

.menu .menu-item:last-child::after {
    content: none;
}

.menu .menu-item a {
    color: var(--black);
    transition: .3s ease;
}

.menu .menu-item a:hover {
    color: var(--grey);;
}


.footer {
    background: var(--black);
    padding: 23px 0;
}

.footer .copyright {
    position: relative;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #C9CBD0;
}

.footer .copyright:before {
    content: '';
    width: 3px;
    height: 3px;
    background: #C9CBD0;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -30px;
}


.footer .copyright::after {
    content: '';
    width: 3px;
    height: 3px;
    background: #C9CBD0;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: -30px;
}


.hero {
    width: 100%;
    height: 606px;
    background: url(../img/bg_photo.png)no-repeat center center/cover;
    position: relative;
     
}

.hero .hero-mask {
    width: 100%;
    height: 100%;
 background: linear-gradient(0deg, rgba(37,38,39,.2) 0%, rgba(37,38,39,0) 80%);
 z-index: 1;
}

.hero .hero-pause {
    width: 30px;
height: 32px;
z-index: 2;
position: absolute;
bottom: 40px;
right: 96px;
}


.project {
    width: 100%;
    padding: 60px 0 100px;
}

.h2 {
    position: absolute;
    width: 272px;
height: 44px;
left: 695px;
right: 400px;
top: 818px;
}

.footer .h2:before {
    content: '';
    width: 3px;
    height: 3px;
    background: var(--black);
    border-radius: 50%;
    position: absolute;
    top: 31px;
    left: -27px;
}


.footer .h2::after {
    content: '';
    width: 3px;
    height: 3px;
    background: var(--black);
    border-radius: 50%;
    position: absolute;
    top: 33px;
    right: 52px;
}
    
